{{> header }}
	<article>
		<header>
			<time datetime="{{ date }}">{{ dateFormat date }}</time>
			<h1>{{{ title }}}</h1>
      {{#if source}}
      <p>This post was originally published on <b>{{{source}}}</b>.</p>
      {{/if}}
		</header>
		<section>
			{{{ contents }}}
		</section>
	</article>
{{> footer }}
